[Desktop Entry]
Name=Freezer (1.0.9)
Exec=/home/xandar/Applications/freezer-1.0.9_d784a871ef83828798881ebdb07751fc.AppImage
Terminal=false
Type=Application
Icon=appimagekit_496a665a9a1cf75ed951218652a62a4a_freezer
StartupWMClass=freezer
X-AppImage-Version=1.0.9
X-AppImage-Name=Freezer
Categories=audio;

TryExec=/home/xandar/Applications/freezer-1.0.9_d784a871ef83828798881ebdb07751fc.AppImage
X-AppImage-Old-Icon=freezer
X-AppImage-Old-Name=Freezer
X-AppImage-Identifier=496a665a9a1cf75ed951218652a62a4a
Actions=Remove;
X-AppImageLauncher-Version=2.1.4 (git commit 7cb4d70), built on 2020-07-26 14:01:18 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/xandar/Applications/freezer-1.0.9_d784a871ef83828798881ebdb07751fc.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
